<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form</title>

</head>

    <center><h1>inserting a data from forms to Topic</h1>
    <form method="POST">
    {% csrf_token %}
    <label for="un">Topic_name</label>
    <input type="text" name="un" id="un"><br><br>
    <input type="submit" value="insert_into_topic_model">
    
</form>
    </center>
    
</body>
</html>